.series{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    flex-basis:20%;
}
.pageTitle{

    display:flex;
    justify-content:center;
    font-size:6vW;
}

@media (max-width:100px){
    .pageTitle{
        font-size:6vW;
    }
}

