.app{
  min-height: 100vh;
  background-color:#4682b4;
  color:white;
  padding-top:8%;
  padding-bottom:2%;
}
a {
  text-decoration: none;
  color: white;
}
@media (max-width:700px){
  .app{
    padding-top:10%;
  }
}